p {
    font-size: 16px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  
    li {
      display: flex;
      align-items: center;
  
      button {
        margin-left: 10px;
      }
    }
  }

  .back-button {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;

  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .folder-tree {
    margin-top: 20px;
  }