S3_URL="https://storage.yandexcloud.net"
S3_PUBLIC_KEY=""
S3_PRIVATE_KEY=""
SERVER_IP=localhost
TELEGRAM_TOKEN=
DATABASE_LOGIN=postgres
DATABASE_PASSWORD=
DATABASE_NAME=bot
DATABASE_HOST=database
DATABASE_PORT=5432
ETHERPAD_URL=
